*.class
*.jar
.\#*
/*.iml
/.eastwood
/.env
/.envrc
/.idea
/.lein-deps-sum
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/.nrepl-port
/build.xml
/checkouts
/classes
/classes
/config.edn
/lib
/pom.xml
/pom.xml.asc
/profiles.clj
/tags
/target
\#*\#
