{:config-paths
 ["../resources/clj-kondo.exports/methodical/methodical"]

 :linters
 {:missing-docstring            {:level :warning}
  :refer                        {:level :warning}
  :unsorted-required-namespaces {:level :warning}
  :single-key-in                {:level :warning}
  :shadowed-var                 {:level :warning}
  :unresolved-symbol            {}

  :docstring-leading-trailing-whitespace {:level :warning}
  :keyword-binding                       {:level :warning}
  :misplaced-docstring                   {:level :warning}
  :missing-body-in-when                  {:level :warning}
  :missing-else-branch                   {:level :warning}
  :namespace-name-mismatch               {:level :warning}
  :non-arg-vec-return-type-hint          {:level :warning}
  :reduce-without-init                   {:level :warning}
  :redundant-fn-wrapper                  {:level :warning}
  :use                                   {:level :warning}
  :used-underscored-binding              {:level :warning}
  :warn-on-reflection                    {:level :warning}}

 :lint-as
 {potemkin.types/deftype+ clojure.core/deftype}

 :skip-comments true

 :ns-groups
 [{:pattern ".*-test$"
   :name    tests}]

 :config-in-ns
 {tests
  {:linters
   {:inline-def        {:level :off}
    :missing-docstring {:level :off}
    :shadowed-var      {:level :off}}}}}
