name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: Deployment
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 0
    - name: Setup Java & Clojure
      uses: ./.github/actions/setup-clojure
      with:
        cache-key: deploy
    - name: Build JAR
      run: clojure -T:build build
      env:
        GITHUB_SHA: ${{ env.GITHUB_SHA }}
    - name: Deploy to Clojars
      run: clojure -T:build deploy
      env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
